@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    margin:0%;
    
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:60px;
    box-shadow: 0 1px 3px rgba(15, 15, 15, 0.15);
    background-color: #FFF7D0;
    margin-top: 0%;
    padding: 8px 12px;  
    box-shadow: 0 1px 3px rgba(15, 15, 15, 0.15);
}
.navbar p{
    font-size: larger;
    margin-left: 1rem;
}
.navbar-ul{

    display: flex;
    justify-content: flex-end;
    padding-left: 0%;
    margin-left: 3rem;
    align-items: center;
      }
.navbar-ul li{
    padding:8px 12px;
    font-family: Montserrat,sans-serif;
     color: #212529;
     opacity: 90%;
     margin-left: 2rem;
     font-size: medium;
     list-style: none; 
}
.navbar-ul li:hover{
    font-weight: bold;
    
}

 /* 화면 크기에 따라 반응을 다르게 하게끔 해주기  */
.hamburger{display: none;}

@media screen and (max-width:767px) {
    .navbar{
     flex-direction:column;
     align-items : flex-start;
     width:100%;
   } 
    
    .hamburger{
        display: fixed;
        width: 2rem;
        height: 2rem;
        display:flex;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        justify-content: space-around;
        flex-flow:column nowrap;
       
    }
    .navbar-ul{
        display:none;
     
     }
     .showMenu{
        width: 200px;
        height: 300px;
        font-size: large;
        font-weight: 400;
        position: relative;
        position: absolute;
        top:5rem;
        left: 0px;
        transition: 1s;
        list-style: none;
        margin-top: 3rem;
        color: #212529;
        background-color: aliceblue;
       
    
        }

    

}



.showMenu{display:block;
        z-index: 1000;}
    
.hideMenu{
    width: 376px;
    height: 300px;
    position: absolute;
    left: -376px;
    transition: 1s;
    list-style: none;
    }


/* slider */

.carousel {
    max-width: 100%;
    position: relative;
    /* z-index:-99; */
    
}

.carousel .carousel-item {
    display: none;
}

.carousel .carousel-item-visible {
    display: block;
    width: 100%;
    max-width: 100%;
    height:25rem;
}

.carousel .carousel-item img {
    width: 100%;
    max-width: 1200px;
    height: auto;
}

.carousel .carousel-actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel .carousel-actions button {
    border-radius: 50px;
    background-color: white;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
    opacity: 50%;
    margin: 0 3rem;
    font-family: Montserrat,sans-serif;
    box-shadow: 0 1px 3px rgba(15, 15, 15, 0.15);}

.carousel .carousel-actions button {
    margin: 0 20px;
    /* z-index: 999; */
} 

.Random-brands p{

    font-size: 180%;
    margin-top: 1rem;
    margin-left: 3rem;


}

.heart {
    max-height: 1.5rem;
    max-width: 1.5rem;
    margin-left: 2rem;
    margin-right:2rem;
    padding-left: 0%;
    opacity: 90%;
}

/* https://nicolasgallagher.com/css-drop-shadows-without-images/demo/ */
/* 쉐도우에 관한 강의 */

.logo{
    box-shadow: 0 1px 3px rgba(15, 15, 15, 0.15);
    /* max-width: 20%;
    max-height: 20%; */
}
.homeBtn{
    font-family: Montserrat,sans-serif;
    color: #212529;
    opacity: 70%;
    margin-left: 2rem;
    font-size: x-large;
}
.homeBtn:hover{
    opacity: 90%;
}
.dataResult{
/* overflow-y: auto;
overflow-x: hidden; */

}
.search{

    z-index:1000;
}

.dataResult {
    position: absolute;
    display: block;
    background-color: white;
    z-index: 10;
    transform: translatex(-30%);
    width: 500px;
    overflow-y: auto;
    max-height: calc(100vh - 4rem );
}
/* .dataResult::-webkit-scrollbar{

    display: none;
}
.searchInputs{

    margin-top:105px;
    display: flex;
}
search input{

    background-color: aliceblue;
    border: 0;
    border-radius: 2px;
    border-top-right-radius:0px ;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding:15px;
    height: 30px;
    width: 300px;
}
.dataResult .dataItem{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color:black;
}
.searchBar{margin-top: 3rem;} */