@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    margin:0%;
   
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:60px;
    box-shadow: 0 1px 3px rgba(15, 15, 15, 0.15);
    background-color:#FFF6FF(272, 61%, 94%);
    margin-top: 0%;
    padding: 8px 12px;  
    box-shadow: 0 1px 3px rgba(15, 15, 15, 0.15);
}
.navbar p{
    font-size: larger;
    margin-left: 1rem;
}
.navbar-ul{

    display: flex;
    justify-content: flex-end;
    padding-left: 0%;
    margin-left: 3rem;
    align-items: center;
    color: darkslategray;
      }
.navbar-ul li{
    padding:8px 12px;
    font-family: Montserrat,sans-serif;
    color: darkslategray;
     opacity: 90%;
     margin-left: 2rem;
     font-size: medium;
     list-style: none; 
}
.navbar-ul li:hover{
    font-weight: bold;
    
}

 /* 화면 크기에 따라 반응을 다르게 하게끔 해주기  */
.hamburger{display: none;}

.showMenu{ display: none;} 

@media screen and (max-width:767px) {
    .navbar{
     flex-direction:column;
     align-items : flex-start;
     width:100%;
   } 

   .dataResult{display: none;}

    .searchBar{
        display: none;
    }
    .hamburger{
        display: fixed;
        width: 2rem;
        height: 2rem;
        display:flex;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        justify-content: space-around;
        flex-flow:column nowrap;
       
    }
    .navbar-ul{
        display:none;
     
     }
     .showMenu{
        width: 100%;
        height: 300px;
        font-size: large;
        font-weight: 400;
        position: relative;
        position: absolute;
        top: 3.6rem;
        left: 0px;
        transition: 1s;
        list-style: none;
        /* margin-top: 3rem; */
        color: #212529;
        background-color: aliceblue;
        opacity: 50%;
        z-index: 1000;
        text-align: center;
        padding-left: 0;
        display: block;
        }

    .selectedImg{
        align-items: center;
        margin-left: 3rem;
    }
 
}






    
.hideMenu{
    width: 376px;
    height: 300px;
    position: absolute;
    left: -376px;
    transition: 1s;
    list-style: none;
    }


/* slider */

.carousel {
    max-width: 100%;
    position: relative;
    /* z-index:-99; */
    
}

.carousel .carousel-item {
    display: none;
}

.carousel .carousel-item-visible {
    display: block;
    width: 100%;
    max-width: 100%;
    height:25rem;
}

.carousel .carousel-item img {
    width: 100%;
    max-width: 1200px;
    height: auto;
}

.carousel .carousel-actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel .carousel-actions button {
    border-radius: 50px;
    background-color: white;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
    opacity: 50%;
    margin: 0 3rem;
    font-family: Montserrat,sans-serif;
    box-shadow: 0 1px 3px rgba(15, 15, 15, 0.15);}

.carousel .carousel-actions button {
    margin: 0 20px;
    /* z-index: 999; */
} 

.Random-brands p{

    font-size: 180%;
    margin-top: 1rem;
    margin-left: 3rem;


}

.heart {
    max-height: 1.5rem;
    max-width: 1.5rem;
    margin-left: 2rem;
    margin-right:2rem;
    padding-left: 0%;
    opacity: 90%;
}

/* https://nicolasgallagher.com/css-drop-shadows-without-images/demo/ */
/* 쉐도우에 관한 강의 */

.logo{
    box-shadow: 0 1px 3px rgba(15, 15, 15, 0.15);
    /* max-width: 20%;
    max-height: 20%; */
}
.homeBtn{
    font-family: Montserrat,sans-serif;
    color: #212529;
    opacity: 70%;
    margin-left: 2rem;
    font-size: x-large;
}
.homeBtn:hover{
    opacity: 90%;
}

.search{

    z-index:1000;
}

.dataResult {
    position: absolute;
    display: block;
    background-color: white;
    z-index: 10;
    transform: translatex(-30%);
    width: 500px;
    overflow-y: auto;
    max-height: calc(100vh - 13.7rem );
}

.searchInputs{

    display: flex;
    border-radius: 30%;
}

search input{

    background-color: aliceblue;
    border: 0;
    border-radius: 2px;
    border-top-right-radius:0px ;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding:15px;
    height: 30px;
    width: 300px;
}

.dataResult .dataItem{
    width: 10rem;
    height: 50px;
    display: flex;
    align-items: center;
    color: darkslategray;
    font-family: Montserrat,sans-serif;
    
}
.dataResult::-webkit-scrollbar{

    display: none;
}
.dataResult{
    opacity: 80%;
    overflow: hidden;
    overflow-y: auto;
}
li{
    list-style: none;
}
.dataResult .dataItem{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    color:black;
}
.searchBar{margin-top: 3rem;} 



.brand-flex{
    
    display: grid 
}
.brand-list{

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 0px;
}
/* .selectedImg{

    height:5rem;

} */
.selectedBox ul{
    color: darkslategray;
  
   
}
.selectedBox{
   
  content: "";
  display: flex;
    justify-content: center;
  /* z-index: -1; */
  bottom: 15px;
  left: 10px;
  width: 50%;
  height: 20%;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5%;
         width : 250px;
        height: 200px;
        background-color:whitesmoke;
        border: 0.1rem solid whitesmoke(233, 233, 241);
        padding:0.5rem;
      
}
.h3{
    font-size: h1;
     font-family: Montserrat,sans-serif;
     color: darkslategray;
}
.selected li{
display: flex;
justify-content: center;    
}
.selected{
    font-family: Montserrat,sans-serif;
    color: #212529;
    padding:0%;
}

.brand-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  
}

.flex{
    justify-content: center;  
    display: flex;
    flex-wrap: wrap;
        
}

.selectedImg{
max-width: auto;
height: 6rem;
max-height: auto;
}

.search input{
   
    margin-top: -15%;
    border: 5%;
    background-color: white ;
    border:1px solid gray;
    border-radius: 10%;
    font-size: large;
    font-family: Montserrat,sans-serif;
    padding: 0.5rem;
    width: 12rem;
    height: 1.5rem;
    border-style: ridge;
    

}
.dataResult{
    width: 17rem;
    margin-top: 0.6rem;;
    margin-left: 3rem;
    font-family:Montserrat,sans-serif;
    color:darkslategray;
    
}
.dataResult:focus{
    outline:none;
}
.searchIcon{
    margin-top: -10%;
    max-height: 1.5rem;
    max-width: 1.5rem;
    margin-left: 1rem;
    padding-left: 0%;
    opacity: 90%;
}

p.dataItem{
    width: 17rem;
    margin-top: 0.6rem;
    margin-left: 3rem;
    font-family: Montserrat,sans-serif;
    color: darkslategray;
    z-index: 999;
}
p.dataItem:hover{
    
    color: cadetblue;
    text-align: center;
}